.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ddb892;
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  .main-content {
    height: 60vh;
  }
}
