.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9;
  background-color: #344e41;
  .navigation__logo {
    height: 10vw;
    width: 8vw;
    display: none;
  }
  .checkbox {
    display: flex;
    color: black;
    width: 70%;
    .checkbox__ABV,
    .checkbox__Classic,
    .checkbox__Ph {
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      width: 200px;
      background-color: white;
      margin: 4% 1% 0 1%;
      height: 25px;
      font-size: 2.2vw;
      border-radius: 20px;
      font-family: system-ui, sans-serif;
      font-weight: bold;
      gap: 0.5em;
      &--label {
        margin: 5% 0 0 5%;
      }
      &--check {
        margin-top: 6%;
        margin-right: 2%;
      }
    }
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 20px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: blue;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media screen and (min-width: 611px) and (max-width: 910px) {
  .navigation {
    width: 100%;
    height: 80px;
    .navigation__logo {
      height: 8vw;
      width: 7vw;
      margin-top: 5px;
      display: block;
    }
    .checkbox {
      width: 50%;
      margin-left: 5px;
      .checkbox__ABV,
      .checkbox__Classic,
      .checkbox__Ph {
        width: 120px;
        margin: 5% 1% 0 1%;
        height: 25px;
        font-size: 1.5vw;
        border-radius: 20px;
        gap: 0.5em;
        &--label {
          margin: 3% 0 0 5%;
        }
        &--check {
          margin-top: 4%;
          margin-right: 2%;
        }
      }
    }
  }
}

@media screen and (min-width: 911px) and (max-width: 7000px) {
  .navigation {
    width: 100%;
    height: 80px;
    .navigation__logo {
      height: 3vw;
      width: 2.5vw;
      margin-left: -60%;
      margin-top: 10px;
      display: block;
    }
    .checkbox {
      margin-left: 5px;
      .checkbox__ABV,
      .checkbox__Classic,
      .checkbox__Ph {
        width: 150px;
        margin: 2% 1% 0 1%;
        height: 25px;
        font-size: 0.75vw;
        border-radius: 20px;
        gap: 0.5em;
        &--label {
          margin: 0% 0 0 5%;
        }
        &--check {
          margin-top: 3%;
          margin-right: 2%;
        }
      }
    }
  }
}
