.searchBar {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0 0;
  background: white;
  position: relative;
  border-radius: 100px;
  height: 25px;
  border: 2px solid black;
}
.searchBar__magnify {
  object-fit: cover;
  background: transparent;
  margin-right: 15px;
  height: 20px;
  padding-top: 2px;
}
.searchBar__input {
  border: none;
  padding-left: 10px;
  border-radius: 100px;
  outline: none;
  width: 60px;
}

@media screen and (min-width: 611px) and (max-width: 910px) {
  .searchBar {
    margin: 20px 10px 0 0;
  }
  .searchBar__input {
    width: 100px;
  }
}

@media screen and (min-width: 911px) and (max-width: 7000px) {
  .searchBar {
    margin: 20px 10px 0 0;
  }
  .searchBar__input {
    width: 150px;
  }
}
