.fill-btn:hover,
.fill-btn:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

$colors: (
  fill: #344e41,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{$color};
  }
}

.fill-btn {
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  margin-bottom: 5%;
  font: inherit;
  line-height: 1;
  padding: 0.5em 1em;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}
