.fill-btn:hover,
.fill-btn:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

$colors: (
  fill: #344e41,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{$color};
  }
}

.fill-btn {
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  margin-bottom: 5%;
  line-height: 1;
  padding: 0.1em 0.75em;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

@media screen and (min-width: 611px) and (max-width: 910px) {
  .fill-btn {
    width: 100px;
    height: 40px;
    font-size: 2vw;
  }
}

@media screen and (min-width: 911px) and (max-width: 7000px) {
  .fill-btn {
    width: 100px;
    height: 40px;
    font-size: 0.7vw;
  }
}
