.beer-container {
  height: 350px;
  width: 250px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .beer-container__name {
    font-size: 15px;
    border: 1px solid green;
  }

  .beer-container_pic {
    height: 100px;
    width: 50px;
    border: 1px solid blue;
  }
  .beer-container_desc {
    overflow-y: scroll;
  }
}
