* {
  margin: 0;
  padding: 0;
}
.main {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(black, #6c584c);
}

.beer {
  margin: 0 0 10% 0;
  width: 100%;
  position: relative;
  .beer-img {
    width: 100%;
    height: 80vw;
    object-fit: cover;
    object-position: 30% 65%;
    opacity: 0.9;
  }
  .beer-logo {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(0);
  }
  .beer-title {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 15%;
    text-align: center;
    font-size: 3vw;
    letter-spacing: 3px;
    transform: translate(0);
    color: white;
  }
  .beer-btn {
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 2vw;
    letter-spacing: 3px;
    transform: translate(0);
    color: white;
  }
}

.history {
  border: 0.1px solid grey;
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;

  .history-Content {
    display: flex;
    flex-direction: column;
    .history-Content__Header {
      font-size: 3vw;
      margin: 0 0 0 10%;
    }
    .history-Content__Para {
      font-size: 2.5vw;
      width: 80%;
      margin: 1% 0 0 10%;
    }
  }
  .history-Right__Img {
    height: 50vw;
    width: 50%;
    object-fit: cover;
  }
}

.sustainable {
  width: 100%;

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.9;
    position: absolute;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sustainable__header {
      margin-top: 20%;
      font-size: 2.5vh;
      letter-spacing: 5px;
      font-family: sans-serif;
      position: relative;
      color: white;
      text-align: center;
    }
    .sustainable__para {
      margin-top: 20px;
      font-size: 1.5vh;
      letter-spacing: 1px;
      font-family: sans-serif;
      position: relative;
      color: white;
      width: 80%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 611px) and (max-width: 910px) {
  .beer {
    margin: 0 0 10% 0;
    width: 100%;
    .beer-img {
      width: 100%;
      height: 80vw;
      object-position: 30% 65%;
      opacity: 0.9;
    }
    .beer-logo {
      width: 300px;
      height: 90px;
      top: 25%;
      left: 30%;
    }
    .beer-title {
      width: 70%;
      top: 50%;
      left: 15%;
      font-size: 3vw;
      letter-spacing: 3px;
    }
    .beer-btn {
      top: 75%;
      left: 35%;
      font-size: 2vw;
      letter-spacing: 3px;
    }
  }

  .sustainable {
    width: 100%;
    &__img {
      width: 100%;
      height: 300px;
    }
    &__content {
      .sustainable__header {
        margin-top: 12%;
        font-size: 2vh;
        letter-spacing: 5px;
      }
      .sustainable__para {
        margin-top: 20px;
        font-size: 1.25vh;
        letter-spacing: 1px;
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 911px) and (max-width: 7000px) {
  .beer {
    margin: 0 0 4% 0;
    width: 100%;
    .beer-img {
      width: 100%;
      height: 35vw;
      object-position: 30% 65%;
      opacity: 0.9;
    }
    .beer-logo {
      width: 400px;
      height: 100px;
      top: 25%;
      left: 37%;
    }
    .beer-title {
      width: 70%;
      top: 50%;
      left: 15%;
      font-size: 2vw;
      letter-spacing: 3px;
    }
    .beer-btn {
      top: 75%;
      left: 40%;
      font-size: 2vw;
      letter-spacing: 3px;
    }
  }

  .history {
    margin: 5% 0 5% 0;

    .history-Content {
      .history-Content__Header {
        font-size: 2vw;
        margin: 0 0 0 10%;
      }
      .history-Content__Para {
        font-size: 1vw;
        width: 80%;
        margin: 1% 0 0 10%;
      }
    }
    .history-Right__Img {
      height: 20vw;
      width: 50%;
      object-fit: cover;
    }
  }
  .sustainable {
    width: 100%;
    &__img {
      width: 100%;
      height: 25vw;
    }
    &__content {
      .sustainable__header {
        margin-top: 10%;
        font-size: 4vh;
        letter-spacing: 5px;
      }
      .sustainable__para {
        margin-top: 30px;
        font-size: 2vh;
        letter-spacing: 3px;
        width: 80%;
      }
    }
  }
}
