* {
  margin: 0;
  padding: 0;
}
.main {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(black, #6c584c);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 9;
  .container_nav {
    height: 80px;
    background-color: #344e41;
  }
}
.container_beercards {
}
.beer {
  margin: 0 0 5% 0;
  width: 100%;
  position: relative;
  .beer-img {
    width: 100%;
    height: 37vw;
    object-fit: cover;
    object-position: 30% 65%;
    opacity: 0.9;
  }
  .beer-logo {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 25%;
    left: 37%;
    transform: translate(0);
  }
  .beer-title {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 27%;
    font-size: 2vw;
    letter-spacing: 3px;
    transform: translate(0);
    color: white;
  }
  .beer-btn {
    position: absolute;
    top: 75%;
    left: 41%;
    font-size: 2vw;
    letter-spacing: 3px;
    transform: translate(0);
    color: white;
  }
}

.history {
  border: 0.1px solid grey;
  margin: 4% 0 4% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;

  .history-Content {
    display: flex;
    flex-direction: column;
    .history-Content__Header {
      font-size: 2vw;
      margin: 0 0 0 10%;
    }
    .history-Content__Para {
      font-size: 1vw;
      width: 80%;
      margin: 1% 0 0 10%;
    }
  }
  .history-Right__Img {
    height: 20vw;
    width: 60%;
    object-fit: cover;
  }
}

.sustainable {
  width: 100%;

  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.9;
    position: absolute;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sustainable__header {
      margin-top: 10%;
      font-size: 5vh;
      letter-spacing: 5px;
      font-family: sans-serif;
      position: relative;
      color: white;
      align-content: center;
    }
    .sustainable__para {
      margin-top: 20px;
      font-size: 2vh;
      letter-spacing: 1px;
      font-family: sans-serif;
      position: relative;
      color: white;
      width: 50%;
      text-align: center;
    }
  }
}
